<mat-toolbar class="navbar" color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="goToDashboard()">
      <mat-icon>home</mat-icon>
      User Management System
    </button>
    
    <span class="spacer"></span>
    
    <ng-container *ngIf="authService.getCurrentUser() as user">
      <span>Welcome, {{ user.name }}!</span>
      
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="goToProfile()">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
